In [1]:
import pandas as pd
import numpy as np

In [33]:
def get_breadth_coverage(df):
    """ function gets dataframe created from output of command 
        "samtools bedtools coverage -a <BED> -b <BAM>"
        
    """
    
    for gene in df.gene.unique():
        percent= df[df.gene == gene].percent_covered.mean()
        cover["gene"].append(gene)
        cover["percent_covered"].append(round(percent * 100, 2))

    df = pd.DataFrame(cover).sort_values(by="gene", ascending=False) \
    .reset_index() \
    .drop("index", axis=1)
    
    return df

filename = "bedtools_coverage"
names = ["chr", "start", "end", "gene", "to_drop", "starnd", "n_reads", 
         "n_bases_covered", "length_of_gene_fragment", "percent_covered"]
cover = {"gene": [],
         "percent_covered": []}



df2 = pd.read_csv(filename, sep="\t", names=names).drop("to_drop", axis=1)

breadth = get_breadth_coverage(df2)

df2.head()

,chr,start,end,gene,starnd,n_reads,n_bases_covered,length_of_gene_fragment,percent_covered
0,chr1,12918805,12918926,PRAMEF2,+,0,0,121,0.0
1,chr1,12918861,12918973,PRAMEF2,+,0,0,112,0.0
2,chr1,12918942,12919066,PRAMEF2,+,0,0,124,0.0
3,chr1,12918987,12919110,PRAMEF2,+,0,0,123,0.0
4,chr1,12919089,12919215,PRAMEF2,-,0,0,126,0.0

In [6]:
df.head(2)

,chr,start,end,gene,starnd,n_reads,n_bases_covered,length_of_gene_fragment,percent_covered
0,chr1,12918805,12918926,PRAMEF2,+,0,0,121,0.0
1,chr1,12918861,12918973,PRAMEF2,+,0,0,112,0.0

In [44]:
import tempfile
import subprocess
target_regions_ = "DHS-003Z.primers-150bp.bed"
sample = "sorted_bashirli.bam"


def depth_calculation_in_target_regions(target_regions: str = target_regions_,
                                        patient: str = sample) -> pd.DataFrame:
    command = f"samtools bedcov {target_regions} {patient}".strip().split(' ')
    temp_file = tempfile.NamedTemporaryFile()

    samtools_bedcov = subprocess.run(command, stdout=subprocess.PIPE, stderr=subprocess.PIPE, encoding="utf-8")

    with open(temp_file.name, 'w')as temp:
        temp.write(samtools_bedcov.stdout)

    if not samtools_bedcov.stderr:
        names = ["chr", "start", "end", "gene", "to_drop", "strand", "depth"]
        df = pd.read_csv(temp_file, sep="\t", names=names).drop("to_drop", axis=1)

        return df

    raise PipelineError(
        f"an error occurred during the\n >>>> {' '.join(command)} <<<<\nERROR from {samtools_bedcov.stderr}")

    
def depth_calculation_for_genes(df):
    dct = {"gene": [],
           "mean_cov_depth_X": []}

    for gene in np.unique(df.gene.values):
        dct["gene"].append(gene)
        dct["mean_cov_depth_X"].append(df[df.gene == gene].depth.sum() /
                                       (df[df.gene == gene].end - df[df.gene == gene].start).sum())

    result = pd.DataFrame(dct)

    result = result.sort_values("gene", ascending=False) \
        .reset_index() \
        .drop('index', axis=1)

    result["mean_cov_depth_X"] = result["mean_cov_depth_X"].round(3)

    return result


depth = depth_calculation_in_target_regions()
depth = depth_calculation_for_genes(df=depth)

In [61]:
df.reset_index

AttributeError: module 'pandas' has no attribute 'reindex'

In [69]:
pd.concat([depth, breadth.percent_covered], axis=1) \
.sort_values("percent_covered", ascending=False).reset_index(drop=True)

        gene  mean_cov_depth_X  percent_covered
0       JAK2          2004.935           100.00
1       HRAS           659.639           100.00
2       PAX5          1597.056           100.00
3     CDKN2A          1504.344           100.00
4      ELANE           848.856           100.00
5       TERT           862.094            91.61
6       IL7R           513.714            89.45
7       TPMT            83.327            35.19
8     CREBBP           188.142            25.83
9       GJB3             0.641            19.70
10       ATM           143.565            16.69
11     ZRSR2            13.783            14.58
12     SRSF2             1.234            14.36
13       MYC             0.204            12.38
14     SMC1A           105.240            11.84
15    CARD11             6.173             9.08
16   SMARCB1             0.266             8.72
17      DNM2            64.723             6.00
18    PCDHB1             0.181             4.64
19      RELN             0.502             3.94
20      NPAT             0.061             3.92
21    STXBP2             0.109             3.86
22     KDM6A             0.161             3.36
23      BRAF             0.089             3.34
24      PMS2             0.056             3.30
25       BCR             0.080             3.28
26     FAM5C             0.078             3.27
27     CHEK2             0.040             3.24
28   PRPF40B             0.060             3.22
29     KMT2C             0.056             3.09
..       ...               ...              ...
111  PRAMEF2             0.000             0.00
112     PRF1             0.000             0.00
113    RUNX1             0.000             0.00
114     PTEN             0.000             0.00
115     MSH2             0.000             0.00
116      MPL             0.000             0.00
117   SH2D1A             0.000             0.00
118   MAP2K1             0.000             0.00
119     TAL1             0.000             0.00
120   PTPN11             0.000             0.00
121    SUZ12             0.000             0.00
122     IDH1             0.000             0.00
123     IDH2             0.000             0.00
124    IKZF1             0.000             0.00
125    IKZF3             0.000             0.00
126    STAT3             0.000             0.00
127     JAK1             0.000             0.00
128    STAG2             0.000             0.00
129    KCNA4             0.000             0.00
130   KCNK13             0.000             0.00
131    SRP72             0.000             0.00
132      KDR             0.000             0.00
133      KIT             0.000             0.00
134     XPO1             0.000             0.00
135    KLHL6             0.000             0.00
136     SMC3             0.000             0.00
137     KRAS             0.000             0.00
138    LRRC4             0.000             0.00
139   LUC7L2             0.000             0.00
140  KLHDC8B             0.000             0.00

[141 rows x 3 columns]

In [29]:
df2

          gene  percent_covered
0        ZRSR2            14.58
1         XPO1             0.00
2          WT1             0.00
3          WRN             0.00
4          WAS             0.00
5        U2AF2             0.00
6        U2AF1             0.00
7       TUBA3C             0.00
8         TPMT            35.19
9         TP53             1.06
10   TNFRSF13B             0.00
11        TET2             0.00
12        TERT            91.61
13        TERC             0.00
14        TAL1             0.00
15       SUZ12             0.00
16      STXBP2             3.86
17       STAT3             0.00
18       STAG2             0.00
19       SRSF2            14.36
20       SRP72             0.00
21        SMC3             0.00
22       SMC1A            11.84
23     SMARCB1             8.72
24      SH2D1A             0.00
25       SH2B3             0.00
26       SF3B1             0.00
27       SF3A1             0.92
28         SF1             0.00
29      SETBP1             0.00
..         ...              ...
111       CTCF             1.36
112      CSF3R             0.00
113      CSF1R             0.00
114      CRLF2             0.00
115     CREBBP            25.83
116      CHEK2             3.24
117      CEBPA             0.00
118     CDKN2A           100.00
119       CBLC             0.00
120       CBLB             0.00
121        CBL             0.00
122     CARD11             9.08
123       CALR             0.04
124   C17orf97             0.00
125      BRCA2             1.30
126      BRCA1             0.00
127       BRAF             3.34
128        BLM             0.00
129      BIRC3             0.00
130        BCR             3.28
131     BCORL1             0.00
132       BCOR             1.23
133       BCL6             0.00
134       ATRX             0.00
135        ATM            16.69
136      ASXL2             0.00
137      ASXL1             0.00
138    ANKRD26             1.29
139        ADA             0.00
140       ABL1             2.20

[141 rows x 2 columns]

In [23]:
depth

          gene  mean_cov_depth_X
0        ZRSR2                14
1         XPO1                 0
2          WT1                 0
3          WRN                 0
4          WAS                 0
5        U2AF2                 0
6        U2AF1                 0
7       TUBA3C                 0
8         TPMT                83
9         TP53                 0
10   TNFRSF13B                 0
11        TET2                 0
12        TERT               862
13        TERC                 0
14        TAL1                 0
15       SUZ12                 0
16      STXBP2                 0
17       STAT3                 0
18       STAG2                 0
19       SRSF2                 1
20       SRP72                 0
21        SMC3                 0
22       SMC1A               105
23     SMARCB1                 0
24      SH2D1A                 0
25       SH2B3                 0
26       SF3B1                 0
27       SF3A1                 0
28         SF1                 0
29      SETBP1                 0
..         ...               ...
111       CTCF                 0
112      CSF3R                 0
113      CSF1R                 0
114      CRLF2                 0
115     CREBBP               188
116      CHEK2                 0
117      CEBPA                 0
118     CDKN2A              1504
119       CBLC                 0
120       CBLB                 0
121        CBL                 0
122     CARD11                 6
123       CALR                 0
124   C17orf97                 0
125      BRCA2                 0
126      BRCA1                 0
127       BRAF                 0
128        BLM                 0
129      BIRC3                 0
130        BCR                 0
131     BCORL1                 0
132       BCOR                 0
133       BCL6                 0
134       ATRX                 0
135        ATM               144
136      ASXL2                 0
137      ASXL1                 0
138    ANKRD26                 0
139        ADA                 0
140       ABL1                 0

[141 rows x 2 columns]